body {
			font-family: sans-serif;
			background-color: pink
			padding-left: 15%;
			padding-right: 15%;
}
h1 {
			text-align: center:
}
table, th, td{
		border: 1px solid black;
		text-align: center;
}
